<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <img class="custom-icon" src="../../assets/icon/event.png" alt="Event Icon"/>
      <ion-label>Challanges</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <img class="custom-icon" src="../../assets/icon/statistics.png" alt="Statistic Icon"/>
      <ion-label>Result</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/tabs/tab3">
      <img class="custom-icon" src="../../assets/icon/info.png" alt="Info Icon"/>
      <ion-label>Info</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>