<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true" class="custom-content">
  <!-- Header -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Content with Images -->
  <div class="content-wrapper">
    <!-- Middle Image -->
    <img class="middle-image" [src]="baseImage" alt="Middle Image" />

    <!-- Bottom Image (positioned in front of the middle image) -->
    <img class="bottom-image" [src]="statisticImage" alt="Bottom Image" />
  </div>
</ion-content>
